
body{
  color: #40514E;
  margin: 0;
  text-align: center;
font-family: 'Montserrat', sans-serif;


}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2
  margin: 50px auto 0 auto ;
  font-family: 'Festive', cursive;


}
h2{
  color: #66BFBF;
  font-family: 'Gideon Roman', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Rowdies', cursive;
}
p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Rowdies', cursive;
  margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin:100px 0;
}

.bottom-container{
  background-color: #66BFBF;
 padding: 50px 0 20px;
}
.pro{
  text-decoration: underline;
}
.intro{
width: 30%;
margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}


.top-cloud{
position: absolute;
right: 300px;
top:40px;
}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom:300px;
}
.Hassane{
width:200px;
height:auto;
}
.image-de-skills{
  position: relative;
  width: 200px;
  height:auto;
}
.arrows{
  position: relative;
  width: 200px;
  height:auto;
}
.struggle{
  position: relative;
  width: 200px;
  height:auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.image-de-skills{
  width: 25%;
  float: left;
  margin-right: 40px;
}
.eyes{
  width: 25%;
  float: right;
  margin-left: 40px;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: 'Rowdies', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
     }

     .btm {
       background: #11cdd4;
       background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
       background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
       background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
       background-image: -o-linear-gradient(top, #11cdd4, #11999e);
       background-image: linear-gradient(to bottom, #11cdd4, #11999e);
       -webkit-border-radius: 9;
       -moz-border-radius: 9;
       border-radius: 9px;
       font-family: Arial;
       color: #ffffff;
       font-size: 20px;
       padding: 10px 20px 10px 20px;
       text-decoration: none;
     }

     .btm:hover {
       background: #30e3cb;
       background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
       background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
       background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
       background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
       background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
       text-decoration: none;
     }
     .contact-me{
       background-color: #40514E;
     }
